.content{
    background-image: url("../../src/assets/C.jpg");
    background-attachment: fixed;
  background-size: cover; /* Ensures the image covers the entire screen */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  background-color:#5d5582;
  /* width: 1400px;
  height: 850px;
  gap: 0px; */
  opacity: .5px;
  background-blend-mode: overlay;
  text-align: center;
}

.content{
width: 815px;
height: 307px;
top: 107px;
left: 293px;
gap: 0px;
opacity: 0px;
}
